.table-card {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d0d4e873;
    color: #f3f3f3;
    padding: 10px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pass-table {
    width: 100%;
    background-color: #e6e7efd0;
    color: #292727;
    padding: 10px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
    font-size: 16px;
}

.pass-table td {
    padding: 12px;
    text-align: left;
    border-top: 1px solid #6d81d8;
}

.pass-table th {
    padding: 12px;
    text-align: left;
}

.pass-table th {
    font-weight: bold;
}

.edit-btn,
.delete-btn {
    background-color: #21897E;
    padding: 9px 17px;
    color: #f1efec;
    border-radius: 5px;
    border: 1px solid #22463b;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #23af85;
    box-shadow: 0px 2px 9px #8e8d91;
    transition-delay: 0.3s;
}