.pass-form {
    background-color: #e6e7efd0;
    color: #292727;
    padding: 30px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
    font-size: 16px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6d81d8;
    font-size: 16px;
    margin-bottom: 20px;
    color: #292727;
    background-color: #ece9e9;
}

.show-btn {
    background-color: #21897E;
    padding: 11px 20px;
    margin-right: 10px;
    color: #f1efec;
    border-radius: 5px;
    border: 1px solid #22463b;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    font-size: 18px;
}

.show-btn:hover,
.save-btn:hover {
    background-color: #23af85;
    box-shadow: 0px 2px 9px #8e8d91;
    transition-delay: 0.3s;
}

.save-btn {
    background-color: #21897E;
    padding: 14px;
    color: #f1efec;
    border-radius: 5px;
    border: 1px solid #22463b;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.edit-card {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d0d4e873;
    color: #f3f3f3;
    padding: 10px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}